<!DOCTYPE html>
<html>
<link rel="stylesheet" href="basic.css">


</script>
<body>

<form style="border:1px solid #ccc">
  <div class="container">
    <h1>Sign Up</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email">

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" >

    <div class="clearfix">
      <input type="submit" id="sub" class="signupbtn">
    </div>
  </div>
</form>
<script>
const sub = document.getElementById('sub');
const call = () => console.log('flag')

sub.addEventListener("Click", call())
</script>

</body>
</html>
